
@{
    ViewBag.Title = "Enviado";
}



<div class="jumbotron">
    <h2 class="text-center titles">Exitoso!</h2>
    <p class="text-center lead">
        El libro se ha registrado exitosamente!
    </p>
</div>